<!DOCTYPE html>
<html>
<head>
  <title>PIC - Photographers’ Identities Catalog</title>
  <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no ,initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="description" CONTENT="Experimental interface to a collection of biographical data describing photographers, studios, manufacturers, and others involved in the production of photographic images.">

  <!-- tw card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@nypl_labs">
  <meta name="twitter:title" content="PIC - Photographers’ Identities Catalog">
  <meta name="twitter:description" content="Experimental interface to a collection of biographical data describing photographers, studios, manufacturers, and others involved in the production of photographic images.">
  <meta name="twitter:image:src" content="<%= asset_url("hero.png") %>">
  <meta name="twitter:domain" content="http://pic.nypl.org/">

  <!-- fb og -->
  <meta name="og:title" content="PIC - Photographers’ Identities Catalog">
  <meta name="og:type" content="website">
  <meta name="og:image" content="<%= asset_url("hero.png") %>">
  <meta name="og:description" content="Experimental interface to a collection of biographical data describing photographers, studios, manufacturers, and others involved in the production of photographic images.">
  <meta name="og:url" content="http://pic.nypl.org/">

  <link rel='shortcut icon' href='/nypl.png'>

  <%= yield :dynamic_js %>
</head>
<body>

<%= yield %>


</body>
</html>
